:root {
    --text: #ffffff;
    --background: #1d1d23;
}
body, #mode {
    background-color: var(--background) !important;
}
h1, 
h4,
h6,
#par,
th,
td,
#h3edit,
#labeledit,
small,
#mode,
a {
    color: var(--text) !important;
}